{% extends "base.html" %}

{% block cuerpo %}
{% load static%}
<div class="row"> <!-- Fila principal -->
    <!-- Columna izquierda -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1> Gestionar productos </h1> <!-- Contenido de la columna izquierda -->
        <div class="card">
            <div class="card-body">
                <!-- Primer formulario (sin botón de enviar) -->
                <form action="registrarProducto/" method="POST">{% csrf_token %}
                    <div class="form-group p-2">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="Nombre codigo" minleght="1" maxlength="100" required>
                    </div>
                    <div class="form-group p-2">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" maxlength="100" required>
                    </div>
                    <div class="form-group p-1">
                        <input type="number" id="numprecio" name="numprecio" class="form-control" placeholder="Precio" maxlength="100" required>
                    </div>
                    <div class="form-group p-1">
                        <input type="number" id="numcantidad" name="numcantidad" class="form-control" placeholder="Cantidad" maxlength="100" required>
                    </div>
                    <div class="form-group p-1">
                    <div class="form-group p-2">
                        <input type="text" id="txtdescripcion" name="txtdescripcion" class="form-control" placeholder="Descripcion" maxlength="100" required>
                    </div>
                    <div class="form-group p-2">
                        <input type="text" id="txtestado" name="txtestado" class="form-control" placeholder="Estado" maxlength="100" required>
                    </div>
                    <div class="form-group p-2">
                        <input type="date" id="datecaducidad" name="datecaducidad" class="form-control" placeholder="Caducidad" maxlength="100" required>
                    </div>
                    <button type="submit" class="btn btn-danger">Guardar materia</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- Fin columna izquierda -->

    <!-- Columna derecha -->
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h1> Listado de productos </h1>
        <center>    <img class="w-50" src="{% static 'img/fresas.jpg' %}" alt="dss" width="200" height="400"> </center>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Caducidad</th>
                    <th>Opciones</tc>
                </tr>
            </thead>
            <tbody>
                {% for m in misproductos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ m.codigo }}</td>
                        <td>{{ m.nombre }}</td>
                        <td>{{ m.precio }}</td>
                        <td>{{ m.cantidad }}</td>
                        <td>{{ m.descripcion }}</td>
                        <td>{{ m.estado }}</td>
                        <td>{{ m.caducidad }}</td>
                        <td><a href="seleccionarProducto/{{m.codigo}}" class="btn btn-danger"> Editar </a></td> <!--Faltacodigo-->
                        <td><a href="borrarProducto/{{m.codigo}}" class="btn btn-danger"> Borrar </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- Fin columna derecha -->
</div> <!-- Fin fila principal -->

{% endblock %}
